{% extends 'base.html' %} {% load static %} 

{% block title %}
<title>Home - EVC</title>
{% endblock title %}
  
{% block menu %}
<div class="menu">  
  <div class="container"> 
    <div class="row"> 
     <div class="col-lg-12 col-md-12"> 
     <!-- menu start -->
       <nav id="menu" class="mega-menu">
        <!-- menu list items container -->
        <section class="menu-list-items">
            <!-- menu logo -->
            <ul class="menu-logo">
                <li><a href="{% url 'home' %}"><img id="logo_dark_img" src="{% static 'images/logo.jpg' %}" alt="logo"> </a></li>
            </ul>
            <!-- menu links -->
            <ul class="menu-links">
            <!-- active class -->
            <li class="active"><a href="{% url 'home' %}"> Home </i></a>
            </li>
            
            <li><a href="{% url 'services' %}"> Services </a>
                
            </li>
            <li><a href="{% url 'projects' %}"> Projects </a> 
            </li>
            <li><a href="{% url 'about' %}"> About Us</a>
            </li>
            <li ><a href="{% url 'blog' %}"> Blog</a></li>
            <li><a href="{% url 'contact' %}"> Contact</a>
            </li>
        </ul>
           </section>
         </nav>
       </div>
     </div>
    </div>
   </div>

{% endblock menu %}


{% block content %}
<!--=================================
 banner -->

<div
  id="rev_slider_11_1_wrapper"
  class="rev_slider_wrapper fullwidthbanner-container"
  data-alias="construction-slider7"
  data-source="gallery"
  style="
    margin: 0px auto;
    background-color: transparent;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  "
>
  <!-- START REVOLUTION SLIDER 5.3.0.2.1 fullwidth mode -->
  <div
    id="rev_slider_11_1"
    class="rev_slider fullwidthabanner"
    style="display: none"
    data-version="5.3.0.2.1"
  >
    <ul>
      <!-- SLIDE  -->
      <li
        data-index="rs-31"
        data-transition="random-static,random-premium,random"
        data-slotamount="default,default,default,default"
        data-hideafterloop="0"
        data-hideslideonmobile="off"
        data-randomtransition="on"
        data-easein="default,default,default,default"
        data-easeout="default,default,default,default"
        data-masterspeed="default,default,default,default"
        data-thumb="revolution/assets/slide3/100x50_acd79-slide6-1.jpg"
        data-rotate="0,0,0,0"
        data-saveperformance="off"
        data-title="Slide"
        data-param1=""
        data-param2=""
        data-param3=""
        data-param4=""
        data-param5=""
        data-param6=""
        data-param7=""
        data-param8=""
        data-param9=""
        data-param10=""
        data-description=""
      >
        <!-- MAIN IMAGE -->
        <img
          src="{% static 'revolution/assets/slide3/acd79-slide6-1.jpg' %}"
          alt=""
          data-bgposition="center center"
          data-bgfit="cover"
          data-bgrepeat="no-repeat"
          class="rev-slidebg"
          data-no-retina
        />
        <!-- LAYERS -->

        <!-- LAYER NR. 1 -->
        <div
          class="tp-caption tp-resizeme"
          id="slide-31-layer-1"
          data-x="60"
          data-y="bottom"
          data-voffset=""
          data-width="['none','none','none','none']"
          data-height="['none','none','none','none']"
          data-type="image"
          data-responsive_offset="on"
          data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power1.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 5"
        >
          <img
            src="{% static 'revolution/assets/slide3/1fba9-slider7-2.png' %}"
            alt=""
            data-ww="auto"
            data-hh="auto"
            data-no-retina
          />
        </div>

        <!-- LAYER NR. 2 -->
        <div
          class="tp-caption tp-resizeme"
          id="slide-31-layer-2"
          data-x="970"
          data-y="center"
          data-voffset="-135"
          data-width="['auto']"
          data-height="['auto']"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"delay":1720,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power1.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="
            z-index: 6;
            white-space: nowrap;
            font-size: 73px;
            line-height: 73px;
            font-weight: 900;
            color: rgba(255, 255, 255, 1);
            font-family: Roboto;
            text-transform: uppercase;
          "
        >
          Experience
        </div>

        <!-- LAYER NR. 3 -->
        <div
          class="tp-caption text-yellow tp-resizeme"
          id="slide-31-layer-4"
          data-x="970"
          data-y="center"
          data-voffset="-65"
          data-width="['auto']"
          data-height="['auto']"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"delay":2430,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power1.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="
            z-index: 7;
            white-space: nowrap;
            font-size: 73px;
            line-height: 73px;
            font-weight: 900;
            font-family: Roboto;
            text-transform: uppercase;
          "
        >
          Vision Creations
        </div>

        <!-- LAYER NR. 4 -->
        <div
          class="tp-caption tp-resizeme"
          id="slide-31-layer-5"
          data-x="970"
          data-y="center"
          data-voffset="9"
          data-width="['auto']"
          data-height="['auto']"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"delay":3170,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power1.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="
            z-index: 8;
            white-space: nowrap;
            font-size: 17px;
            line-height: 29px;
            color: rgba(255, 255, 255, 1);
          "
        >
          Project Engineering and Construction
          <br />General Contractors
        </div>

        <!-- LAYER NR. 5 -->
        <div
          class="tp-caption tp-resizeme"
          id="slide-31-layer-6"
          data-x="970"
          data-y="center"
          data-voffset="75"
          data-width="['auto']"
          data-height="['auto']"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"delay":3890,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power1.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="
            z-index: 9;
            white-space: nowrap;
            font-size: 17px;
            line-height: 29px;
            color: rgba(255, 255, 255, 1);
          "
        >
          <i class="fa fa-check" aria-hidden="true"></i> Real Estate
        </div>

        <!-- LAYER NR. 6 -->
        <div
          class="tp-caption tp-resizeme"
          id="slide-31-layer-7"
          data-x="970"
          data-y="center"
          data-voffset="106"
          data-width="['auto']"
          data-height="['auto']"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"delay":4280,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power1.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="
            z-index: 10;
            white-space: nowrap;
            font-size: 17px;
            line-height: 29px;
            color: rgba(255, 255, 255, 1);
          "
        >
          <i class="fa fa-check" aria-hidden="true"></i> Goods Sales
        </div>

        <!-- LAYER NR. 7 -->
        <div
          class="tp-caption tp-resizeme"
          id="slide-31-layer-8"
          data-x="970"
          data-y="center"
          data-voffset="139"
          data-width="['auto']"
          data-height="['auto']"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"delay":4690,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power1.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="
            z-index: 11;
            white-space: nowrap;
            font-size: 17px;
            line-height: 19px;
            color: rgba(255, 255, 255, 1);
          "
        >
          <i class="fa fa-check" aria-hidden="true"></i> Business Expert
        </div>

        <!-- LAYER NR. 8 -->
        <div
          class="tp-caption tp-resizeme"
          id="slide-31-layer-9"
          data-x="970"
          data-y="center"
          data-voffset="172"
          data-width="['auto']"
          data-height="['auto']"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"delay":5120,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power1.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="
            z-index: 12;
            white-space: nowrap;
            font-size: 17px;
            line-height: 29px;
            color: rgba(255, 255, 255, 1);
          "
        >
          <i class="fa fa-check" aria-hidden="true"></i>Digital Marketing
        </div>

        <!-- LAYER NR. 9 -->
        <a
          class="tp-caption button border transparent animated middle-fill"
          href="{% url 'services' %}"
          id="slide-31-layer-10"
          data-x="970"
          data-y="center"
          data-voffset="250"
          data-width="['auto']"
          data-height="['auto']"
          data-type="button"
          data-responsive_offset="on"
          data-frames='[{"delay":5840,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power1.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[12,12,12,12]"
          data-paddingright="[35,35,35,35]"
          data-paddingbottom="[12,12,12,12]"
          data-paddingleft="[35,35,35,35]"
          style="
            z-index: 11;
            white-space: nowrap;
            font-size: 17px;
            line-height: 29px;
            outline: none;
            cursor: pointer;
          "
          ><span>learn more </span></a
        >
      </li>
      <!-- SLIDE  -->
      <li
        data-index="rs-34"
        data-transition="random-static,random-premium,random"
        data-slotamount="default,default,default,default"
        data-hideafterloop="0"
        data-hideslideonmobile="off"
        data-randomtransition="on"
        data-easein="default,default,default,default"
        data-easeout="default,default,default,default"
        data-masterspeed="default,default,default,default"
        data-thumb="revolution/assets/slide3/100x50_93de2-slide6-3.jpg"
        data-rotate="0,0,0,0"
        data-saveperformance="off"
        data-title="Slide"
        data-param1=""
        data-param2=""
        data-param3=""
        data-param4=""
        data-param5=""
        data-param6=""
        data-param7=""
        data-param8=""
        data-param9=""
        data-param10=""
        data-description=""
      >
        <!-- MAIN IMAGE -->
        <img
          src="{% static 'revolution/assets/slide3/93de2-slide6-3.jpg' %}"
          alt=""
          data-bgposition="center center"
          data-bgfit="cover"
          data-bgrepeat="no-repeat"
          class="rev-slidebg"
          data-no-retina
        />
        <!-- LAYERS -->

        <!-- LAYER NR. 10 -->
        <div
          class="tp-caption tp-resizeme"
          id="slide-34-layer-12"
          data-x="right"
          data-hoffset="371"
          data-y="bottom"
          data-voffset="2"
          data-width="['none','none','none','none']"
          data-height="['none','none','none','none']"
          data-type="image"
          data-responsive_offset="on"
          data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power1.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 5"
        >
          <img
            src="{% static 'revolution/assets/slide3/bbe82-slider7-4.png' %}"
            alt=""
            data-ww="auto"
            data-hh="auto"
            data-no-retina
          />
        </div>

        <!-- LAYER NR. 11 -->
        <div
          class="tp-caption tp-resizeme"
          id="slide-34-layer-2"
          data-x="370"
          data-y="center"
          data-voffset="-125"
          data-width="['auto']"
          data-height="['auto']"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"delay":1700,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power1.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="
            z-index: 6;
            white-space: nowrap;
            font-size: 80px;
            line-height: 73px;
            font-weight: 900;
            color: rgba(255, 255, 255, 1);
            font-family: Roboto;
            text-transform: uppercase;
          "
        >
          Topnotch 
        </div>

        <!-- LAYER NR. 12 -->
        <div
          class="tp-caption text-yellow tp-resizeme"
          id="slide-34-layer-4"
          data-x="370"
          data-y="center"
          data-voffset="-58"
          data-width="['auto']"
          data-height="['auto']"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"delay":2430,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power1.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="
            z-index: 7;
            white-space: nowrap;
            font-size: 60px;
            line-height: 73px;
            font-weight: 900;
            font-family: Roboto;
            text-transform: uppercase;
          "
        >
        Creations at its best.
        </div>

        <!-- LAYER NR. 13 -->
        <div
          class="tp-caption tp-resizeme"
          id="slide-34-layer-5"
          data-x="370"
          data-y="center"
          data-voffset="24"
          data-width="['auto']"
          data-height="['auto']"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"delay":3150,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power1.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="
            z-index: 8;
            white-space: nowrap;
            font-size: 17px;
            line-height: 29px;
            color: rgba(255, 255, 255, 1);
          "
        >
          At EVC, we go extra lenghts to satisfy the demand of our clients
           <br> even if that means raising the limit of engineering.
        </div>

        <!-- LAYER NR. 14 -->
        <div
          class="tp-caption tp-resizeme"
          id="slide-34-layer-6"
          data-x="370"
          data-y="center"
          data-voffset="89"
          data-width="['auto']"
          data-height="['auto']"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"delay":3620,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power1.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="
            z-index: 9;
            white-space: nowrap;
            font-size: 17px;
            line-height: 29px;
            color: rgba(255, 255, 255, 1);
          "
        >
          <i class="fa fa-check" aria-hidden="true"></i> Good architectural designs
        </div>

        <!-- LAYER NR. 15 -->
        <div
          class="tp-caption tp-resizeme"
          id="slide-34-layer-7"
          data-x="370"
          data-y="center"
          data-voffset="123"
          data-width="['auto']"
          data-height="['auto']"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"delay":4080,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power1.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="
            z-index: 10;
            white-space: nowrap;
            font-size: 17px;
            line-height: 29px;
            color: rgba(255, 255, 255, 1);
          "
        >
          <i class="fa fa-check" aria-hidden="true"></i> Extra geotechnical planning
        </div>

        <!-- LAYER NR. 16 -->
        <div
          class="tp-caption tp-resizeme"
          id="slide-34-layer-8"
          data-x="370"
          data-y="center"
          data-voffset="159"
          data-width="['auto']"
          data-height="['auto']"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"delay":4550,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power1.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="
            z-index: 11;
            white-space: nowrap;
            font-size: 17px;
            line-height: 29px;
            color: rgba(255, 255, 255, 1);
          "
        >
          <i class="fa fa-check" aria-hidden="true"></i> Quality material selection
        </div>

        <!-- LAYER NR. 17 -->
        <div
          class="tp-caption tp-resizeme"
          id="slide-34-layer-9"
          data-x="370"
          data-y="center"
          data-voffset="193"
          data-width="['auto']"
          data-height="['auto']"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"delay":5040,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power1.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="
            z-index: 12;
            white-space: nowrap;
            font-size: 17px;
            line-height: 29px;
            color: rgba(255, 255, 255, 1);
          "
        >
          <i class="fa fa-check" aria-hidden="true"></i> Rigid and durable construction
        </div>

        <!-- LAYER NR. 18 -->
        <a
          class="tp-caption button border transparent animated middle-fill"
          href="{% url 'services' %}"
          id="slide-34-layer-10"
          data-x="371"
          data-y="center"
          data-voffset="275"
          data-width="['auto']"
          data-height="['auto']"
          data-type="button"
          data-responsive_offset="on"
          data-frames='[{"delay":5760,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power1.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[12,12,12,12]"
          data-paddingright="[35,35,35,35]"
          data-paddingbottom="[12,12,12,12]"
          data-paddingleft="[35,35,35,35]"
          style="
            z-index: 11;
            white-space: nowrap;
            font-size: 17px;
            line-height: 29px;
            outline: none;
            cursor: pointer;
          "
          ><span>learn more </span></a
        >
      </li>
      <!-- SLIDE  -->
      <li
        data-index="rs-36"
        data-transition="random-static,random-premium,random"
        data-slotamount="default,default,default,default"
        data-hideafterloop="0"
        data-hideslideonmobile="off"
        data-randomtransition="on"
        data-easein="default,default,default,default"
        data-easeout="default,default,default,default"
        data-masterspeed="default,default,default,default"
        data-thumb="revolution/assets/slide3/100x50_8a19d-slide6-5.jpg"
        data-rotate="0,0,0,0"
        data-saveperformance="off"
        data-title="Slide"
        data-param1=""
        data-param2=""
        data-param3=""
        data-param4=""
        data-param5=""
        data-param6=""
        data-param7=""
        data-param8=""
        data-param9=""
        data-param10=""
        data-description=""
      >
        <!-- MAIN IMAGE -->
        <img
          src="{% static 'revolution/assets/slide3/8a19d-slide6-5.jpg' %}"
          alt=""
          data-bgposition="center center"
          data-bgfit="cover"
          data-bgrepeat="no-repeat"
          class="rev-slidebg"
          data-no-retina
        />
        <!-- LAYERS -->

        <!-- LAYER NR. 19 -->
        <div
          class="tp-caption tp-resizeme"
          id="slide-36-layer-12"
          data-x="450"
          data-y="bottom"
          data-voffset="20"
          data-width="['none','none','none','none']"
          data-height="['none','none','none','none']"
          data-type="image"
          data-responsive_offset="on"
          data-frames='[{"delay":710,"speed":1500,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power1.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 5"
        >
          <img
            src="{% static 'revolution/assets/slide3/baee2-slider7-7.png' %}"
            alt=""
            data-ww="auto"
            data-hh="auto"
            data-no-retina
          />
        </div>

        <!-- LAYER NR. 20 -->
        <div
          class="tp-caption tp-resizeme"
          id="slide-36-layer-2"
          data-x="900"
          data-y="center"
          data-voffset="-175"
          data-width="['auto']"
          data-height="['auto']"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"delay":1930,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power1.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="
            z-index: 6;
            white-space: nowrap;
            font-size: 73px;
            line-height: 73px;
            font-weight: 900;
            color: rgba(255, 255, 255, 1);
            font-family: Roboto;
            text-transform: uppercase;
          "
        >
          build
        </div>

        <!-- LAYER NR. 21 -->
        <div
          class="tp-caption text-yellow tp-resizeme"
          id="slide-36-layer-4"
          data-x="900"
          data-y="center"
          data-voffset="-105"
          data-width="['auto']"
          data-height="['auto']"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"delay":2660,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power1.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="
            z-index: 7;
            white-space: nowrap;
            font-size: 73px;
            line-height: 73px;
            font-weight: 900;
            font-family: Roboto;
            text-transform: uppercase;
          "
        >
          Your dream
        </div>

        <!-- LAYER NR. 22 -->
        <div
          class="tp-caption tp-resizeme"
          id="slide-36-layer-5"
          data-x="900"
          data-y="center"
          data-voffset="-31"
          data-width="['auto']"
          data-height="['auto']"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"delay":3380,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power1.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="
            z-index: 8;
            white-space: nowrap;
            font-size: 17px;
            line-height: 29px;
            color: rgba(255, 255, 255, 1);
          "
        >
          Do not let construction limit your dreams.
          <br>If you can dream it, we can build it.
        </div>

        <!-- LAYER NR. 23 -->
        <div
          class="tp-caption tp-resizeme"
          id="slide-36-layer-6"
          data-x="900"
          data-y="center"
          data-voffset="39"
          data-width="['auto']"
          data-height="['auto']"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"delay":3880,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power1.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="
            z-index: 9;
            white-space: nowrap;
            font-size: 17px;
            line-height: 29px;
            color: rgba(255, 255, 255, 1);
          "
        >
          <i class="fa fa-check" aria-hidden="true"></i> Material Costing and Valuation
        </div>

        <!-- LAYER NR. 24 -->
        <div
          class="tp-caption tp-resizeme"
          id="slide-36-layer-7"
          data-x="900"
          data-y="center"
          data-voffset="72"
          data-width="['auto']"
          data-height="['auto']"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"delay":4380,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power1.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="
            z-index: 10;
            white-space: nowrap;
            font-size: 17px;
            line-height: 29px;
            color: rgba(255, 255, 255, 1);
          "
        >
          <i class="fa fa-check" aria-hidden="true"></i> Land acquisition and Development
        </div>

        <!-- LAYER NR. 25 -->
        <div
          class="tp-caption tp-resizeme"
          id="slide-36-layer-8"
          data-x="900"
          data-y="center"
          data-voffset="105"
          data-width="['auto']"
          data-height="['auto']"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"delay":4880,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power1.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="
            z-index: 11;
            white-space: nowrap;
            font-size: 17px;
            line-height: 29px;
            color: rgba(255, 255, 255, 1);
          "
        >
          <i class="fa fa-check" aria-hidden="true"></i> Interior and Exterior Finishes
        </div>

        <!-- LAYER NR. 26 -->
        <div
          class="tp-caption tp-resizeme"
          id="slide-36-layer-9"
          data-x="900"
          data-y="center"
          data-voffset="138"
          data-width="['auto']"
          data-height="['auto']"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"delay":5380,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power1.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="
            z-index: 12;
            white-space: nowrap;
            font-size: 17px;
            line-height: 29px;
            color: rgba(255, 255, 255, 1);
          "
        >
          <i class="fa fa-check" aria-hidden="true"></i> Overall Site Engineering
        </div>

        <!-- LAYER NR. 27 -->
        <a
          class="tp-caption button border transparent animated middle-fill"
          id="slide-36-layer-10"
          href="{% url 'services' %}"
          data-x="900"
          data-y="center"
          data-voffset="220"
          data-width="['auto']"
          data-height="['auto']"
          data-type="button"
          data-responsive_offset="on"
          data-frames='[{"delay":6130,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power1.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['inherit','inherit','inherit','inherit']"
          data-paddingtop="[12,12,12,12]"
          data-paddingright="[35,35,35,35]"
          data-paddingbottom="[12,12,12,12]"
          data-paddingleft="[35,35,35,35]"
          style="
            z-index: 14;
            white-space: nowrap;
            font-size: 17px;
            line-height: 29px;
            outline: none;
            cursor: pointer;
          "
          ><span>learn more </span></a
        >
      </li>
    </ul>
    <div
      class="tp-bannertimer tp-bottom"
      style="visibility: hidden !important"
    ></div>
  </div>
</div>
<!-- END REVOLUTION SLIDER -->

<!--=================================
 banner -->

<section class="action-box small yellow-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 text-left">
        <h4>Building creative structures since 2016</h4>
      </div>
      <div class="col-sm-4 text-right text-xs-left">
        <a href="{% url 'contact' %}" class="button border animated middle-fill"
          ><span>Contact Us</span></a
        >
      </div>
    </div>
  </div>
</section>

<!--=================================
 Page Section -->

<section class="section">
  <div class="container-fluid">
    <div class="row row-eq-height no-gutter">
      <div class="col-sm-6">
        <div class="about full">
          <div
            class="about-image clearfix"
            style="background-image: url({% static 'images/about/01.jpg' %})"
          ></div>
          <div class="about-details">
            <h4 class="title">Who we are</h4>
            <div class="about-des">
              We are a company that specializes in building 
              construction and passionate about bringing designs to live.
            </div>
            <a class="button link" href="{% url 'services' %}"
              ><span
                >Read More
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span
            ></a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="about full">
          <div
            class="about-image clearfix"
            style="background-image: url({% static 'images/about/02.jpg' %})"
          ></div>
          <div class="about-details">
            <h4 class="title">What we do</h4>
            <div class="about-des">
              At EVC, We make the structural dreams of people 
              come true through the application of engineering.
            </div>
            <a class="button link" href="{% url 'services' %}"
              ><span
                >Read More
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-eq-height no-gutter">
      <div class="col-sm-6">
        <div class="about about-right full">
          <div
            class="about-image clearfix"
            style="background-image: url({% static 'images/about/03.jpg' %})"
          ></div>
          <div class="about-details">
            <h4 class="title">Why choose us</h4>
            <div class="about-des">
              We go the extra lenght to build the dream and vision of our clients, even if we have to raise the bar of engineering.
            </div>
            <a class="button link" href="{% url 'services' %}"
              ><span
                >Read More
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span
            ></a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="about about-right full">
          <div
            class="about-image clearfix"
            style="background-image: url({% static 'images/about/04.jpg' %})"
          ></div>
          <div class="about-details">
            <h4 class="title">Our Vision</h4>
            <div class="about-des">
              We are on track to become the foremost engineering firm simplifying construction and pushing the boundaries.
            </div>
            <a class="button link" href="{% url 'services' %}"
              ><span
                >Read More
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="page-section-ptb pb-30 bg fixed bg-overlay-white-70"
  style="
    background-image: url({% static 'images/bg/bg-12.jpg' %});
    background-position: center bottom;
  "
>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-title text-center">
          <h2 class="title">What we Offer</h2>
          <p>
            Construction Project Management (CPM) is the overall planning,
            coordination, and control of a project from beginning to completion.
            CPM is aimed at meeting a client's requirement in order to produce a
            functionally and financially viable project.
          </p>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-4 col-xs-6 col-xx-12">
          <div class="feature-box">
            <i class="glyph-icon flaticon-construction-34"></i>
            <h5 class="title">Project Management</h5>
            <p>
              It was popularised in the 1960s with the release of Letraset
              sheets containing Lorem Ipsum passages and more recently.
            </p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-6 col-xx-12">
          <div class="feature-box">
            <i class="glyph-icon flaticon-shield"></i>
            <h5 class="title">Real Estate</h5>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form.
            </p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-6 col-xx-12">
          <div class="feature-box">
            <i class="glyph-icon flaticon-projection-screen-with-bar-chart"></i>
            <h5 class="title">Good Sale & Marketing</h5>
            <p>
              You need to be sure there isn't anything embarrassing hidden in
              the middle of text. All the Lorem Ipsum generators.
            </p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-6 col-xx-12">
          <div class="feature-box">
            <i class="glyph-icon flaticon-construction-28"></i>
            <h5 class="title">Building Construction</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-6 col-xx-12">
          <div class="feature-box">
            <i class="glyph-icon flaticon-building-1"></i>
            <h5 class="title">Business Experts</h5>
            <p>
              Consectetur adipiscing elit, sed do eiusmod tempor lorem ipsum
              dolor sit amet, incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-6 col-xx-12">
          <div class="feature-box">
            <i class="glyph-icon flaticon-tool-2"></i>
            <h5 class="title">Land acquisition</h5>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="counter-section page-section-ptb dark-bg bg fixed text-white gradient-overlay"
  style="background-image: url({% static 'images/bg/bg-8.jpg' %})"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-10">
        <div class="section-title">
          <h2 class="title title2">
            We are <label>passionate</label><br />
            and we have a <label>proven track record</label>.
          </h2>
        </div>
        <div class="row mt-60">
          <div class="col-lg-3 col-md-3 col-xs-6 col-xx-12">
            <div class="counter left_icn">
              <i
                class="glyph-icon flaticon-projection-screen-with-bar-chart"
              ></i>
              <span class="timer" data-to="47" data-speed="10000"></span>
              <label>Completed Projects</label>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-6 col-xx-12">
            <div class="counter left_icn">
              <i class="glyph-icon flaticon-management"></i>
              <span class="timer" data-to="26" data-speed="10000"></span>
              <label>Properties</label>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-6 col-xx-12">
            <div class="counter left_icn">
              <i class="glyph-icon flaticon-trophy"></i>
              <span class="timer" data-to="110" data-speed="10000"></span>
              <label>Contract Bids</label>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-6 col-xx-12">
            <div class="counter left_icn">
              <i class="glyph-icon flaticon-like"></i>
              <span class="timer" data-to="4" data-speed="5000"></span>
              <label>Awards</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-title text-center">
          <h2 class="title">News from us</h2>
          <p>
            Read curated articles from us and the building industry.
          </p>
        </div>
      </div>
      <div class="col-sm-12">
        <div
          class="owl-carousel"
          data-nav-arrow="true"
          data-items="2"
          data-md-items="2"
          data-sm-items="1"
          data-xs-items="1"
        >
        {% for post in posts %}
        {% if post.status == "Published" %}
          <div class="item">
            <div class="post left_pos clearfix">
              <div class="post-image clearfix">
                <img
                  class="img-responsive"
                  src="{{post.image.url}}"
                  style="height: 300px; width: auto;"
                  alt=""
                />
                <div class="post-date">{{post.published.day}}<span>{{post.published|date:"M"}}</span></div>
              </div>
              <div class="post-details">
                <div class="post-title">
                  <h5 class="title">
                    <a href="{% url 'blog_details' post.slug %}">{{post.title}} </a>
                  </h5>
                </div>
                <div class="post-meta">
                  <a href="#"><i class="fa fa-user"></i> {{post.author|capfirst}}</a>
                  <!-- <a href="#"
                    ><i class="fa fa-heart-o" aria-hidden="true"></i>98 Like</a
                  > -->
                </div>
                <div class="post-content">
                  <p>
                    {{post.content|truncatewords:10}}
                  </p>
                </div>
                <a class="button small border animated middle-fill" href="{% url 'blog_details' post.slug %}"
                  ><span>Read More</span></a
                >
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
          
      </div>
    </div>
  </div>
</section>

<section class="action-box yellow-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-9">
        <h5 class="pt-10" style="padding-bottom: 5px">
          Trust us with your vision
        </h5>
        <h3 class="text-uppercase">We have the Experience</h3>
      </div>
      <div class="col-md-4 col-sm-3 text-right text-xs-left">
        <a href="{% url 'contact' %}" class="button big border animated middle-fill"
          ><span>Contact Us Now</span></a
        >
      </div>
    </div>
  </div>
</section>

<!--=================================
 page-section -->



{% endblock content%}
