{% extends 'base.html' %}
{% load static humanize %}

{% block title %}
  <title>Project Details - EVC</title>
  {% endblock title %}
  
  {% block menu %}
  <div class="menu">  
    <div class="container"> 
      <div class="row"> 
       <div class="col-lg-12 col-md-12"> 
       <!-- menu start -->
         <nav id="menu" class="mega-menu">
          <!-- menu list items container -->
          <section class="menu-list-items">
              <!-- menu logo -->
              <ul class="menu-logo">
                  <li><a href="{% url 'home' %}"><img id="logo_dark_img" src="{% static 'images/logo.jpg' %}" alt="logo"> </a></li>
              </ul>
              <!-- menu links -->
              <ul class="menu-links">
              <!-- active class -->
              <li ><a href="{% url 'home' %}"> Home </i></a>
              </li>
              
              <li><a href="{% url 'services' %}"> Services </a>
                  
              </li>
              <li class="active"><a href="{% url 'projects' %}"> Projects </a> 
              </li>
              <li ><a href="{% url 'about' %}"> About Us</a>
              </li>
              <li ><a href="{% url 'blog' %}"> Blog</a></li>
              <li><a href="{% url 'contact' %}"> Contact</a>
              </li>
          </ul>
             </section>
           </nav>
         </div>
       </div>
      </div>
     </div>
  
  {% endblock menu %}

  
{% block content %}

<!--=================================
 banner -->

<section class="inner-intro bg bg-fixed bg-overlay-black-70" style="background-image:url({% static 'images/bg/bg-2.jpg' %});">
  <div class="container">
     <div class="row intro-title text-center">
           <div class="col-sm-12">
				<div class="section-title"><h1 class="title text-white">Project Details</h1></div>
           </div>
           <div class="col-sm-12">
             <ul class="page-breadcrumb">
                <li><a href="{% url 'home'%}"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
                <li><a href="{% url 'projects' %}">Projects</a> <i class="fa fa-angle-double-right"></i></li>
                <li><span>Project Details</span> </li>
             </ul>
        </div>
     </div>
  </div>
</section>

<!--=================================
 banner -->

<!--=================================
 Page Section -->

<section class="our-sercive page-section-ptb pb-20"><div class="container">
	<div class="row">
    	<div class="col-md-6 col-sm-12 mb-30"><img class="img-responsive" src="{{project.image.url}}" alt=""></div>
        <div class="col-md-6 col-sm-12 mb-30"><div class="content-block pl-10">
        	<div class="section-title"><h3 class="title">{{project.title}}</h3></div>
            <p>{{project.description|linebreaks}}</p>
			<div class="team-social-icon social-icons border color-hover mt-20"><ul>
                      <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li class="social-pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                      <li class="social-behance"><a href="#"><i class="fa fa-behance"></i></a></li>
                 </ul></div>
            </div>
        </div>
        </div>
        <div class="row mt-20 mb-40">
          <div class="col-lg-12 col-md-12">
            {{project.description1|linebreaks}}
            {{project.description2|linebreaks}}
                 </div>
                </div>
          </div>
        </div>
    </div>
</section>

<section class="portfolio-page page-section-ptb pb-50"><div class="container"><div class="row no-gutter">
  <div class="col-sm-12"><div class="popup-gallery columns-3">
        <div class="project-info">
             <img class="img-responsive center-block" style="width: 700px; height: 250px;" src="{{project.image.url}}" alt="">
             <div class="overlay">
                 <div class="overlay-content">
                  <a href="{{project.image.url}}" class="button popup-img border small animated middle-fill"> <span> Zoom image <i class="fa fa-arrows-alt"></i> </span></a>
        </div></div>
           </div>
          {% if project.image1 %}
          <div class="project-info">
            <img class="img-responsive center-block" style="width: 700px; height: 250px;" src="{{project.image1.url}}" alt="">
            <div class="overlay">
                <div class="overlay-content">
                 <a href="{{project.image1.url}}" class="button popup-img border small animated middle-fill"> <span> Zoom image <i class="fa fa-arrows-alt"></i> </span></a>
       </div></div>
          </div>
          {%endif%}
          {% if project.image2 %}
          <div class="project-info">
            <img class="img-responsive center-block" style="width: 700px; height: 250px;" src="{{project.image2.url}}" alt="">
            <div class="overlay">
                <div class="overlay-content">
                 <a href="{{project.image2.url}}" class="button popup-img border small animated middle-fill"> <span> Zoom image <i class="fa fa-arrows-alt"></i> </span></a>
       </div></div>
          </div>
          {% endif %}
  
    </div>
    </div>
</section>  

<section class="pro-details-section page-section-ptb pb-50 bg fixed text-white gradient-overlay" style="background-image:url({% static 'images/bg/bg-9.jpg' %});">
<div class="container"><div class="row">
	<div class="col-md-9">
     <div class="section-title"><h2 class="title title2">Project <label>Details</label></h2></div>
     <div class="row mt-50">
     		<div class="col-md-4 col-xs-6 col-xx-12"><div class="feature-box left_pos small">
                <i class="glyph-icon flaticon-interface-6"></i>
                <h3 class="title">Category :</h3>
                <p>{{category|join:", "}}</p>
            </div></div>
            <div class="col-md-4 col-xs-6 col-xx-12"><div class="feature-box left_pos small">
                <i class="glyph-icon flaticon-people-10"></i>
                <h3 class="title">Client :</h3>
                <p>{{project.client}}</p>
            </div></div>
            <div class="col-md-4 col-xs-6 col-xx-12"><div class="feature-box left_pos small">
                <i class="glyph-icon flaticon-interface"></i>
                <h3 class="title">Date :</h3>
                <p>{{project.date|date:"M d, Y"}}</p>
            </div></div>
            <div class="col-md-4 col-xs-6 col-xx-12"><div class="feature-box left_pos small">
                <i class="glyph-icon flaticon-location"></i>
                <h3 class="title">Location :</h3>
                <p>{{project.location}}</p>
            </div></div>
            <div class="col-md-4 col-xs-6 col-xx-12"><div class="feature-box left_pos small">
                <i class="glyph-icon flaticon-projection-screen-with-bar-chart"></i>
                <h3 class="title">Value :</h3>
                <p>#{{project.value|intcomma}}</p>
            </div></div>
            <div class="col-md-4 col-xs-6 col-xx-12"><div class="feature-box left_pos small">
                <i class="glyph-icon flaticon-gps"></i>
                <h3 class="title">Area :</h3>
                <p>{{project.area}} m2</p>
            </div></div>
       </div>
    </div>
</div></div>
</section>

<section class="page-section-ptb"><div class="container"><div class="row">
	<div class="col-sm-12"><div class="section-title"><h2 class="title">Related Projects</h2></div></div>
      <div class="col-sm-12"><div class="owl-carousel" data-nav-arrow="true" data-items="4" data-xs-items="2">

        {% for project in projects %}
          <div class="item"><div class="about pro-deta">
            <div class="about-image clearfix"><img class="img-responsive" style="width: auto; height: 150px;" src="{{project.image.url}}" alt=""></div>
            <div class="about-details">
              <h5 class="title"><a href="{% url 'project-details' project.id %}"> {{project.title}} </a> </h5>
              <div class="about-des">{{project.cat|join:", "}}</div>
            </div>                
          </div></div>
          {%endfor%}
      </div></div>
</div></div></section>


<!--=================================
 page-section -->

{% include 'cta.html' %}
{% endblock content %}